header
{
    background-color: lightblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
hr
{
    background-color: lightgrey;
}
.centrado
{
    text-align: center;
}
hr.hr_nav
{
    margin-left: 15%;
    margin-right: 15%;
}
img.img_nav
{
    width: 200px;
    height: 150px;
}
img.img_nav:hover
{
    opacity: 0.3;
}
span.elementos:hover
{
    font-weight: bold;
    background-color: lightblue;
}
hr.hr_azul
{
    background-color: blue;
    height: 10px;
}
div.historia
{
    background-image: url(img/valencia_antigua.jpg);
    border: black 3px solid;
    margin-right: 30%;
    color: blue;
    font-size: small;
    font-weight: bolder;
    margin-top: -10px;
}
div.fondo_lightblue
{
    background-color: lightblue;
    text-align: center;
}
img.img_valencia_antigua
{
    height: 230px;
    width: 300px;
}